<div class="container">
	<div class="panel panel-default">
        <div class="panel-heading login">
        	<div class="panel-heading">
            	<form class="form-inline">
                	<span>
                    	<h4>Friend Feed <span class="badge">{{author.length}}</span></h4>
                    	<h4>
                        	<a href="{{gitUserData.html_url}}" class="btn btn-primary">
                            	<span class="octicon octicon-mark-github">
                                {{gitUserData.login}}
                            	</span>
                        	</a>
                    	</h4>
                	</span>
            	</form>
        	</div>
        </div>

        <div class="panel-body">
            <div class="list-group">
            	<div ng-repeat="friend in filteredPotentialFriends  | orderBy: ['createdate' ,'published']" class="list-group-item ">
            		<div class="row">
            			<div class="col-md-8">
            				{{friend.displayname}}
            			</div>
            			<div class="col-md-4">
                            <dl class="dl-horizontal">
                            	 <button class="btn btn-success" data-ng-click="makeFriendReq(friend)"><span class="octicon octicon-smiley"></span> Add as Friend</button>
                           	</dl>
                        </div>
            		</div>
        		</div>
        	</div>
        </div>
    </div>
</div>