<div class="container">
	<div class="panel panel-default">
        <div class="panel-heading login">
        	<div class="panel-heading">
            	<form class="form-inline">
                	<span>
                    	<h4>Friend Feed <span class="badge">{{filteredPotentialFriends.length}}</span></h4>
                    	
                	</span>
            	</form>
        	</div>
        </div>

        <div class="panel-body">
            <div class="list-group">
            	<div ng-repeat="friend in nodeAuthors | orderBy: ['createdate' ,'published']" class="list-group-item ">
            		<div class="row">
            			<div class="col-md-10">
            				{{friend.displayName}}
            			</div>
            			<div class="col-md-2">
                            <dl class="dl-horizontal">
                            	 <button class="btn btn-success" data-ng-click="makeFriendReq(friend)"><span class="octicon octicon-smiley"></span>  Add as Friend</button>
                           	</dl>
                        </div>
            		</div>
        		</div>
        	</div>
        </div>
    </div>
</div>