    
    <h2>Post Stream + GitHub Integration: </h2>
    		</span>
    <h4>
    	GitHub Account Associated With: <i>{{gitUserData.name}} @ </i>
        <a href="{{gitUserData.html_url}}" class="btn btn-default">
    <span class="octicon octicon-mark-github"></span>
            {{gitUserData.login}}
        </a>
    </h4>


    <div class="panel-body">
    <div class="list-group">
        <div ng-repeat="post in allPost | orderBy:'createdate':true" class="list-group-item ">
            <div ng-if="post.html_url" class="row">

                <div class="col-md-8">
                    <h4>
                        <small>
                            <span ng-if="post.fork" class="octicon octicon-repo-forked"></span>
                            <span ng-if="!post.fork" class="octicon octicon-repo"></span>
                        </small>
                        <a href="{{repo.html_url}}" target="_blank" >
                            {{post.name}}
                        </a>
                        <small>{{post.description}}</small>
                    </h4>

                    
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                      <dt>Last Updated:</dt>
                      <dd>{{post.updated_at | date : short : timezone}}</dd>
                      <dt>Created:</dt>
                      <dd>{{post.created_at| date : short : timezone}}</dd>
                    </dl>
                </div>
            </div>

             <div ng-if="post.title" class="row">

                <div class="col-md-8">
             
                        <span>

                                <h3><span class="mega-octicon octicon-book"></span> {{post.title}}</h3>
                                <button data-ng-click="deletePost(post)" data-ng-disabled="post.disabled" data-ng-show="post.author.id === user.id">Delete Post</button>
								<!--data-ng-click should probably be a function that shows a little form filled out with old post info for the user to update.
								When the user is done editing their post then we should call editPost(post)-->
								<button data-ng-click="editPost(post)" data-ng-disabled="post.disabled" data-ng-show="post.author.id ===user.id">Edit Post</button>
                                <h4>{{post.author.displayName}}</h4>
                                <h3>{{post.description}}</h3>
                                <h6>Published: {{post.published}}</h6>
                                <div btf-markdown="post.content"></div>
                        </span>
                              
                </div>     
            </div>

        </div>
    </div>

    </div>
