<div class=" container">

    <div class="panel panel-default">
        <div class="panel-heading login">
            <h1>Profile Editor</h1>
    	    <button class='btn btn-primary' data-ng-show='canAddFriend()' data-ng-click="makeFriendReq()">Friend Request</button>
        </div>
    <div class="panel-body profile">
      <div class="col-lg-12">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-lg-6">
            <h4>UserName: </h4>
            </div>
            <div class="col-lg-6">
            <h5> {{ author.displayname }}</h5>
            </div>
        </div>
         <div class="form-group">
            <div class="col-lg-6">
            <h4>First Name: </h4>
            </div>
            <div class="col-lg-6">
            <h5> <span><span data-ng-show="!editing">{{ author.first_name }}</span><input placeholder="First Name" type="text" data-ng-model="author.first_name" data-ng-show="editing"></input></span></h5>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
            <h4>Last Name: </h4>
            </div>
            <div class="col-lg-6">
            <h5> <span><span data-ng-show="!editing">{{ author.last_name }}</span><input placeholder="Last Name" type="text" data-ng-model="author.last_name" data-ng-show="editing"></input></span></h5>
            </div>
        </div>
         <div class="form-group">
            <div class="col-lg-6">
            <h4>Email: </h4>
            </div>
            <div class="col-lg-6">
            <h5><span data-ng-show="!editing">{{ author.email }}</span><input placeholder="Email" type="text" data-ng-model="author.email" data-ng-show="editing"></input></h5>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
            <h4>Github: </h4>
            </div>
            <div class="col-lg-6">
            <h5><div data-ng-show="!editing">{{ author.github }}</div>
        <input placeholder="Github URL" type="text" data-ng-model="author.github" data-ng-show="editing"></input></h5>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
            <h4>Bio: </h4>
            </div>
            <div class="col-lg-6">
            <h5><div data-ng-show="!editing">{{ author.bio }}</div>
            <textarea placeholder="Bio" data-ng-model="author.bio" data-ng-show="editing"></textarea></h5>
            </div>
        </div>


        <div class="editButtons" data-ng-show="$scope.user.id === $scope.author.id">
        <button class="btn btn-success" data-ng-click="clickEdit()"
        data-ng-show="!editing && !canAddFriend()">Edit</button>
        <button class="btn btn-primary" data-ng-click="submitAuthor()" data-ng-show="editing">Submit</button>
    </div>
    </div>
    </form>
    </div>
    

 


</div>
</div>
</div>


<div class ="container" ng-controller="FriendsFeedController">
<div class = "row">
<div class = "col-sm-4 container">


   <div class ='panel panel-default friends'>
     <div class= "panel-heading login">
     <h3> Your Friends</h3>
     </div>
      <div class ='panel-body ' ng-repeat="friend in friends">
	  <div class = 'row' >
	    <div class ="col-lg-2"> display Name: </div>
	    <div class ="col-lg-4"> <h4 class="friendlyDisplayName" >{{friend.display_name}}</h4> </div>
	    <div class ="col-lg-3"><button class="btn btn-success"  data-ng-click="unfriend(friend)"> Unfriend</button></div>
	  </div>
	<div class = 'row' >  
	<div class = 'col-lg-2'> URL:</div>
	<div class ='col-lg-6'>{{friend.url}}</div>
	</div>

      </div>

      <div class= 'container' data-ng-show="friends.length===0"><h4>whoops
      you have no friends :(</h4></div>
    </div>

</div>


<div class="col-sm-4 container">
   <div class ='panel panel-default friends'>
     <div class= "panel-heading login">
     <h3> Your Followers</h3>
     </div>
      <div class ='panel-body ' ng-repeat="follower in followers2">
	  <div class = 'row' >
	    <div class ="col-lg-2"> display Name: </div>
	    <div class ="col-lg-4"><h4 class="friendlyDisplayName" >{{follower.display_name}}</h4></div>
	    <div class ="col-lg-3"><button class="btn btn-success" data-ng-click="acceptFriend(follower)">Accept Friend </button></div>
	  </div>
	<div class = 'row' >  
	<div class = 'col-lg-2'> URL:</div>
	<div class ='col-lg-6'>{{follower.url}}</div>
	</div>

      </div>

      <div class= 'container' data-ng-show="!hasFollowers"><h4>whoops
      you have no followers :(</h4></div>
    </div>
</div>





<div class="col-sm-4 container">
   <div class ='panel panel-default friends'>
     <div class= "panel-heading login">
     <h3>Who YOU are following</h3>
     </div>
      <div class ='panel-body ' ng-repeat="following in friendsSOON">
	  <div class = 'row' >
	    <div class ="col-lg-2"> display Name: </div>
	    <div class ="col-lg-4"><h4 class="friendlyDisplayName">{{following.display_name}}</4></div>
	    <div class ="col-lg-3"><button class="btn btn-success"  data-ng-click="unfollow(following)"> Unfollow</button></div>
	  </div>
	<div class = 'row' >  
	<div class = 'col-lg-2'> URL:</div>
	<div class ='col-lg-6'>{{following.url}}</div>
	</div>

      </div>

      <div class= 'container' data-ng-show="!isFollowing"><h4> You're
      not following anyone right now</h4></div>
    </div>
</div>

</div>
</div>
</div>

<post-stream data-ng-controller="PostStreamController"></post-stream>

